#icon-voltar {
	width: 100%;
	height: 70px;
	margin: 0px;
	padding: 0px;
}
#icon-voltar img {
	margin-left: 40px;
	margin-top: 10px;
}

#area-video {
	width: 100%;
	height: 350px;
	margin: 0px;
}

#area-video #div-video{
	width: 60%;
	height: 350px;
	margin: 0px;
	border: 0.5px solid #CCCCCC;
	border-radius: 3px;
	background-color: #CCCCCC;
	float: left;
}
#area-video #div-diretorio {
	width: 35%;
	height: 350px;
	margin: 0px;
	border: 0.5px solid #CCCCCC;
	border-radius: 3px;
	/*background-color: blue;*/
	float: right;
}